In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from fastcore.test import test_eq

In [3]:
from pyproteonet.aggregation import maxlfq

# Test MaxLFQ Protein Aggregation

In [4]:
from test_utils import create_single_protein

In [5]:
ds = create_single_protein()

In [6]:
_ = maxlfq(dataset=ds, molecule='protein', mapping='peptide-protein', partner_column='abundance',
           min_ratios=2, median_fallback=False, is_log=False, result_column='maxlfq')

/hpi/fs00/home/tobias.pietz/MasterThesis/pyproteonet/pyproteonet/aggregation/maxlfq.py:219: NumbaTypeSafetyWarning: unsafe cast from uint64 to int64. Precision may be lost.
  grouping = mask_group(groupings[group_idx])

In [7]:
ds.values['protein'].df

              maxlfq
sample  id
sample1 A   3.072157
sample2 A   2.894050
sample3 A        NaN
sample4 A        NaN
sample5 A   5.274493
sample6 A   5.717201

In [8]:
mat = ds.get_samples_value_matrix(molecule='protein', column='maxlfq')
test_eq(np.isnan(mat.loc['A', 'sample3']), True)
test_eq(np.isnan(mat.loc['A', 'sample4']), True)
test_eq(mat.isna().sum().sum(), 2)

test_eq(mat.loc['A', 'sample1'] < mat.loc['A', 'sample5'], True)
test_eq(mat.loc['A', 'sample1'] < mat.loc['A', 'sample6'], True)
test_eq(mat.loc['A', 'sample2'] < mat.loc['A', 'sample5'], True)
test_eq(mat.loc['A', 'sample2'] < mat.loc['A', 'sample6'], True)
mat

     sample1  sample2  sample3  sample4   sample5   sample6
id
A   3.072157  2.89405      NaN      NaN  5.274493  5.717201