# Getting Started

## Molecules, Graphs, and MoleculeSets

At the heart of PyProteoNet are types of molecules (like proteins and peptides) and connections between those molecules. Even though for PyProteoNet molecules
are just nodes in a graph and molecule types are just strings we will focus on protein and peptide molecules as used
during many mass spectrometry (MS) experiments in the field of proteomics.
In addition, most functions of PyProteonNet are currenlty focused on proteins and peptides aggregation and imputation.

Ultimately most experiments want to measure protein abundances. However for most MS experiments proteins are digested into peptides
because only those smaller peptides are measured during an MS-experiment. So we have two kind of molecules (proteins and peptides) plus a mapping between
them because every peptide can be mapped to at least one protein which the peptide can result from during digestion.

In PyProteoNet such a group of different types of molecules together with mappings between those molecule types is represented by a `MoleculeSet`.
So lets import this:

In [1]:
from pyproteonet.data import MoleculeSet

Next we need some data to create a MoleculeSet. For simplicity, we do not use real data but come up with a simple toy examples
of 10 proteins and 100 peptides which we identify by integers.

In [2]:
import pandas as pd

proteins = pd.DataFrame(index=range(10))
peptides = pd.DataFrame(index=range(100))

As you can see proteins and peptides are represented by pandas dataframes. The index of the dataframes will be used as identifiers
for our molecules. With real-world data it might make sense to use the protein name or peptide sequence as index but here we just
use integers. Our dataframe could also have additional columns storing other molecule attributes, however, those are not required.

The only thing missing is a mapping between proteins and peptides.
Mappings are also created from pandas dataframes. To identify mapping partners those dataframes must have a multiindex with every index level containing molecules ids of the mapped molecules.

Here we just map every 10th peptide to the same protein.

In [3]:
peptide_protein_mapping = pd.DataFrame({'peptide':peptides.index, 'protein':peptides.index%10}).set_index(['peptide', 'protein'])

In [4]:
peptide_protein_mapping

Empty DataFrame
Columns: []
Index: [(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7), (8, 8), (9, 9), (10, 0), (11, 1), (12, 2), (13, 3), (14, 4), (15, 5), (16, 6), (17, 7), (18, 8), (19, 9), (20, 0), (21, 1), (22, 2), (23, 3), (24, 4), (25, 5), (26, 6), (27, 7), (28, 8), (29, 9), (30, 0), (31, 1), (32, 2), (33, 3), (34, 4), (35, 5), (36, 6), (37, 7), (38, 8), (39, 9), (40, 0), (41, 1), (42, 2), (43, 3), (44, 4), (45, 5), (46, 6), (47, 7), (48, 8), (49, 9), (50, 0), (51, 1), (52, 2), (53, 3), (54, 4), (55, 5), (56, 6), (57, 7), (58, 8), (59, 9), (60, 0), (61, 1), (62, 2), (63, 3), (64, 4), (65, 5), (66, 6), (67, 7), (68, 8), (69, 9), (70, 0), (71, 1), (72, 2), (73, 3), (74, 4), (75, 5), (76, 6), (77, 7), (78, 8), (79, 9), (80, 0), (81, 1), (82, 2), (83, 3), (84, 4), (85, 5), (86, 6), (87, 7), (88, 8), (89, 9), (90, 0), (91, 1), (92, 2), (93, 3), (94, 4), (95, 5), (96, 6), (97, 7), (98, 8), (99, 9)]

[100 rows x 0 columns]

> **Side Note**: Internally mappings are wrapped by the `MoleculeMapping` class. This wrapping class can hold some additional information and facilitates e.g. mappings between the same molecule type. However, for most simple use cases like the protein-peptide use case this can be ignored.

From this data we can now generate a MoleculeSet. To support arbitratry molecule types and multiple mappings, molecules and
mappings need to be given as dictionaries.

In [5]:
ms = MoleculeSet(molecules = {'protein':proteins, 'peptide':peptides},
                 mappings = {'peptide-protein': peptide_protein_mapping}
                )

## Samples and Values

The MoleculeSet alone is not that helpful. Usually, we also want to attach (abundance) values to our molecules. 
With MS experiments we usually even have multiple samples measuring the same value multiple times. For this PyProteoNet provides
`Dataset`s. A `Dataset` consists of a molecule graph and a variable number of `DatasetSample`s each representing values of one sample.
We can create a `Dataset` without any samples as follows:

In [6]:
from pyproteonet.data import Dataset
ds = Dataset(molecule_set=ms)

Next we add some samples to the dataset. Every sample is identified by a name and contains dataframes with values for our
different molecule types. E.g. lets assume we measured some abundance values for our peptides which we want to add.

In [7]:
import numpy as np
for i in range(3):
    sample_name = f'sample{i}'
    peptide_values = pd.DataFrame({'abundance': np.random.uniform(size=100) * 10000}, index=range(100))
    sample_molecule_values = {'peptide':peptide_values}
    ds.create_sample(name=sample_name, values=sample_molecule_values)

Again we give the sample values as a dictionary to assign them to the correct molecule type.

## Protein Aggregation

Since in proteomics it is often worked with logarithmic abundance values, also the peptide abundances of our artifical dataset should first be logarithmized.

This also helps to understand how to access and modify dataset values in PyProteoNet. One convinient way shown here is to access a single value field or column as padas DataFrame in long format, containing all abundance values with their sample and protein id as multi index. Logarithmization can then be done as shown below, saving the logarithmized values under a new column.

In [8]:
ds.values['peptide']['abundance_log'] = np.log(ds.values['peptide']['abundance'])

Usually we are interested in protein abundances. Therefore, the measured peptide abundance values need to be aggregated into protein abundance values.
This is done via the peptide-protein mapping using an aggregation function (also called quantification function).

Here we apply Top3 aggregation as a simple but commonly used aggregation function. This function computes protein abundance from the average of the three most abundant peptides corresponding to a protein. In real-world datasets some peptides are usually shared between different proteins. Since their abundance values cannot be uniquly assigned to a protein, shared peptides are often ignored during abundane aggregation and only unique peptides are considered.

The result is represented as a pandas Series in long format with a multiindex to identify samples and protein ids.

In [9]:
from pyproteonet.aggregation.partner_summarization import partner_top_n_mean
top3 = partner_top_n_mean(dataset=ds, molecule='protein', mapping='peptide-protein', partner_column='abundance_log',
                          top_n=3, only_unique=True)

In [10]:
top3

sample   id
sample0  0     9.059397
         1     8.859051
         2     8.874540
         3     9.097946
         4     9.098969
         5     9.060221
         6     8.963788
         7     9.077467
         8     9.107079
         9     9.101319
sample1  0     8.846131
         1     8.795575
         2     9.124960
         3     8.886239
         4     8.785984
         5     9.127745
         6     9.154690
         7     9.043791
         8     9.066401
         9     8.896717
sample2  0     8.837659
         1     8.705259
         2     9.114073
         3     9.008667
         4     9.100431
         5     9.021828
         6     9.163367
         7     9.021873
         8     9.092699
         9     8.898715
Name: quanti, dtype: float64

To assign this to our dataset the following syntax can be used:

In [11]:
ds.values['protein']['top3'] = top3

Alternatively, most functions also allow the direct specification of a result column. So an alternative formulation of the Top3 aggregation could be as follows:

In [12]:
_ = partner_top_n_mean(dataset=ds, molecule='protein', mapping='peptide-protein', partner_column='abundance_log',
                       top_n=3, only_unique=True, result_column='top3')

The long format of the Top3 aggregated protein abundance values is little intuitive and a matrix representation is often used instead. Therefore, the `Dataset` class provides functions to represent data in different formats allowing. To get the Top3 results as a pandas DataFrame with samples as columns ans proteins as rows the `get_samples_value_matrix` function can be useful:

In [13]:
ds.get_samples_value_matrix(molecule='protein', column='top3')

     sample0   sample1   sample2
id
0   9.059397  8.846131  8.837659
1   8.859051  8.795575  8.705259
2   8.874540  9.124960  9.114073
3   9.097946  8.886239  9.008667
4   9.098969  8.785984  9.100431
5   9.060221  9.127745  9.021828
6   8.963788  9.154690  9.163367
7   9.077467  9.043791  9.021873
8   9.107079  9.066401  9.092699
9   9.101319  8.896717  8.898715

Next to the rather simple neighbor average (Top3), PyProteoNet also provides an efficient implementation of the more complex MaxLFQ protein aggregation method propose by [Cox et al.](https://www.mcponline.org/article/S1535-9476(20)33310-7/fulltext).

This methods takes peptide abundance ratios between all samples into account and then solves a least squares optimization probel to find protein abundance values best representing the observed peptide abundances. 
Similar to [Cox et al.](https://www.mcponline.org/article/S1535-9476(20)33310-7/fulltext) we here require at least two non missing peptide abundances. Additionally, we need to specify that the given values are already logarithmic to allows the correct calculation of peptide ratios between samples.

In [14]:
from pyproteonet.aggregation import maxlfq
_ = maxlfq(dataset=ds, molecule='protein', mapping='peptide-protein', partner_column='abundance_log',
           min_ratios=2, median_fallback=False, result_column='maxlfq', is_log=True)

/hpi/fs00/home/tobias.pietz/MasterThesis/pyproteonet/pyproteonet/aggregation/maxlfq.py:219: NumbaTypeSafetyWarning: unsafe cast from uint64 to int64. Precision may be lost.
  grouping = mask_group(groupings[group_idx])

Next to the matrix representation we can also look at all columns of a molecule using its long format representation as pandas DataFrame with multiindex. To do so we can again use the `values` attribute of our dataset. Using the `df` shortcut, we get a DataFrame of all columns for a molecule type in long format.

In [15]:
ds.values['protein'].df

                top3    maxlfq
sample  id
sample0 0   9.059397  8.570981
        1   8.859051  8.004946
        2   8.874540  8.222338
        3   9.097946  8.542716
        4   9.098969  8.271626
        5   9.060221  8.327767
        6   8.963788  7.879674
        7   9.077467  8.441515
        8   9.107079  8.292413
        9   9.101319  8.261357
sample1 0   8.846131  7.742310
        1   8.795575  7.389677
        2   9.124960  8.699787
        3   8.886239  8.063417
        4   8.785984  8.056610
        5   9.127745  8.361637
        6   9.154690  7.820593
        7   9.043791  8.483310
        8   9.066401  8.277093
        9   8.896717  7.750524
sample2 0   8.837659  7.982651
        1   8.705259  7.872761
        2   9.114073  8.629805
        3   9.008667  8.491207
        4   9.100431  8.043956
        5   9.021828  8.466973
        6   9.163367  8.434427
        7   9.021873  8.569465
        8   9.092699  8.335110
        9   8.898715  7.804313

## Missing Value Imputation

Pyproteonet provides a wide range of established as well as newly proposed, graph neural network (GNN) based missing value imputation functions.

The interface for most imputation functions is similar to this of the aggregation functions shown above. Next to a dataset you need to provide the molecole type as well as the column(s) to impute and, optionally, values for method specific hyperparameters.

Of course, for imputation, we first of all need some missing values. So for our example we just mask some of the Top3 values. To do so we, again, use the `values` attribute of our dataset to get all Top3 values as pandas DataFrame in long format. Then, we replace some of the values with `Na` using pandas and, finally, we write the result back as a new column in our dataset

In [16]:
vals = ds.values['protein']['top3']
vals.loc[vals.sample(frac=0.33).index] = np.nan
ds.values['protein']['top3_masked'] = vals

In [17]:
ds.values['protein'].df

                top3    maxlfq  top3_masked
sample  id
sample0 0   9.059397  8.570981          NaN
        1   8.859051  8.004946     8.859051
        2   8.874540  8.222338          NaN
        3   9.097946  8.542716          NaN
        4   9.098969  8.271626     9.098969
        5   9.060221  8.327767          NaN
        6   8.963788  7.879674     8.963788
        7   9.077467  8.441515     9.077467
        8   9.107079  8.292413          NaN
        9   9.101319  8.261357     9.101319
sample1 0   8.846131  7.742310          NaN
        1   8.795575  7.389677     8.795575
        2   9.124960  8.699787          NaN
        3   8.886239  8.063417     8.886239
        4   8.785984  8.056610          NaN
        5   9.127745  8.361637     9.127745
        6   9.154690  7.820593     9.154690
        7   9.043791  8.483310     9.043791
        8   9.066401  8.277093     9.066401
        9   8.896717  7.750524     8.896717
sample2 0   8.837659  7.982651     8.837659
        1   8.705259  7.872761     8.705259
        2   9.114073  8.629805     9.114073
        3   9.008667  8.491207          NaN
        4   9.100431  8.043956     9.100431
        5   9.021828  8.466973     9.021828
        6   9.163367  8.434427     9.163367
        7   9.021873  8.569465     9.021873
        8   9.092699  8.335110     9.092699
        9   8.898715  7.804313          NaN

Let's use the commonly used MissForrest imputation algorithm to impute the missing values

In [20]:
from pyproteonet.imputation.r.miss_forest import miss_forest_impute

ds.values['protein']['top3_imputed'] = miss_forest_impute(dataset=ds, molecule='protein', column='top3_masked')

Looking at the result we can see that the missing values are gone:

In [21]:
ds.values['protein'].df

            top3  maxlfq  top3_masked  top3_imputed
sample  id
sample0 0  9.059   8.571          NaN         9.038
        1  8.859   8.005        8.859         8.859
        2  8.875   8.222          NaN         9.038
        3  9.098   8.543          NaN         9.038
        4  9.099   8.272        9.099         9.099
        5  9.060   8.328          NaN         9.092
        6  8.964   7.880        8.964         8.964
        7  9.077   8.442        9.077         9.077
        8  9.107   8.292          NaN         9.075
        9  9.101   8.261        9.101         9.101
sample1 0  8.846   7.742          NaN         9.009
        1  8.796   7.390        8.796         8.796
        2  9.125   8.700          NaN         9.009
        3  8.886   8.063        8.886         8.886
        4  8.786   8.057          NaN         9.100
        5  9.128   8.362        9.128         9.128
        6  9.155   7.821        9.155         9.155
        7  9.044   8.483        9.044         9.044
        8  9.066   8.277        9.066         9.066
        9  8.897   7.751        8.897         8.897
sample2 0  8.838   7.983        8.838         8.838
        1  8.705   7.873        8.705         8.705
        2  9.114   8.630        9.114         9.114
        3  9.009   8.491          NaN         9.004
        4  9.100   8.044        9.100         9.100
        5  9.022   8.467        9.022         9.022
        6  9.163   8.434        9.163         9.163
        7  9.022   8.569        9.022         9.022
        8  9.093   8.335        9.093         9.093
        9  8.899   7.804          NaN         8.983

If you look at the import of the impute_miss_forest function you will notice that this function is part of the "r" subpackage.
Most established imputation algorithms are implemented in the R programming language and provided as R packages. To also provide those algorithms while maintaining a unified Python interfact PyProteoNet wraps those R packages. 
Therefore, all algorithms in the "r" subpackage require an existing R installation (if you use a conda/mamba environment you could simply install one with the command `conda install -c conda-forge r-base`). For the user it is transparent whether an imputation function is implemented in Python or wrapped from an R package. All installation of R dependencies and conversion of data types between Python and R is done in the background by PyProteoNet (internally the rpy2 package is used for this).

> **Note**: Compared to other proteomics- or imputation-focused packages PyProteoNet allows to jointly manage protein and peptide values as well as the relation between them (plus any other additional molecule types if required). This together with the implemented aggragation and imputation functions allows for a more versatile usage scenarios. E.g. imputation can be applied both on peptide level (before aggregation) as well as on protein level (after aggregation). In addition, the application and comparision of different imputation algorithmis and stratigies on the same dataset is facilitated

## Graph Neural Network Imputation

While traditionally, imputation is either applied on peptide OR on protein level modelling protein and peptides a graph structure allows for flexilbe imputation strategies jointly taking information from both molecules into account. Therefore, imputation is formulated as a regression problem on the protein-peptide graph which is then solved by training a graph neural network (GNN).

While PyProteoNet provides different flavors and implementations using different network architectures and training schemes for the underlying GNN, those imputation methods can be called via a similar interface as other imputation methods.
Since two types of molecules (proteins and peptides) are taken into account, the name of those molecule types as well as two value columns have to be specified.

Additional hyperparameters can be set aswell (here set to values used for real-world datasets)

In [25]:
from pyproteonet.imputation.dnn.gnn import impute_heterogeneous_gnn

impute_heterogeneous_gnn(dataset=ds, molecule='protein', column='top3_masked', mapping='peptide-protein', partner_column='abundance_log',
                         molecule_result_column=f'gnn_hetero', partner_result_column=f'gnn_hetero',
                         max_epochs=1000, early_stopping_patience=7, epoch_size=30, training_fraction=0.25, log_every_n_steps=30)

seed: 401954812

GPU available: True (cuda), used: True
TPU available: False, using: 0 TPU cores
IPU available: False, using: 0 IPUs
HPU available: False, using: 0 HPUs
LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]

  | Name              | Type            | Params
------------------------------------------------------
0 | embedding         | Embedding       | 40
1 | molecule_fc_model | Sequential      | 1.1 K
2 | partner_fc_model  | Sequential      | 1.1 K
3 | molecule_gat      | HeteroGraphConv | 1.1 K
4 | partner_gat       | HeteroGraphConv | 1.5 K
5 | molecule_gat2     | HeteroGraphConv | 1.9 K
6 | molecule_linear   | Linear          | 78
7 | partner_linear    | Linear          | 114
8 | loss_fn           | GaussianNLLLoss | 0
------------------------------------------------------
6.9 K     Trainable params
0         Non-trainable params
6.9 K     Total params
0.028     Total estimated model params size (MB)

Training: |                                                                                                   â€¦

attention exploding loss: 1.222819447517395
attention exploding loss: 1.323311448097229
attention exploding loss: 1.2195301055908203
attention exploding loss: 1.430880069732666
attention exploding loss: 1.241489052772522
attention exploding loss: 1.2212234735488892
step29: num_masked_molecule:20.0 || num_masked_partner:73.16666412353516 || molecule_loss:0.48725736141204834 || partner_loss:0.5270040035247803 || train_loss:0.9967511296272278 || epoch:0 ||
attention exploding loss: 1.2357163429260254
step59: num_masked_molecule:20.0 || num_masked_partner:78.0 || molecule_loss:0.47434988617897034 || partner_loss:0.4693260192871094 || train_loss:0.9421185255050659 || epoch:1 ||
attention exploding loss: 1.2734850645065308
step89: num_masked_molecule:20.0 || num_masked_partner:70.06666564941406 || molecule_loss:0.4627026617527008 || partner_loss:0.4725511372089386 || train_loss:0.9324373006820679 || epoch:2 ||
attention exploding loss: 1.3412872552871704
step119: num_masked_molecule:20.0 || num_masked_partner:77.0 || molecule_loss:0.45357605814933777 || partner_loss:0.49109983444213867 || train_loss:0.9395992159843445 || epoch:3 ||
step149: num_masked_molecule:20.0 || num_masked_partner:69.96666717529297 || molecule_loss:0.448369562625885 || partner_loss:0.5110124349594116 || train_loss:0.9593821167945862 || epoch:4 ||
attention exploding loss: 1.3495275974273682
step179: num_masked_molecule:20.0 || num_masked_partner:81.46666717529297 || molecule_loss:0.44573646783828735 || partner_loss:0.46055856347084045 || train_loss:0.9009438753128052 || epoch:5 ||
attention exploding loss: 1.2176704406738281
step209: num_masked_molecule:20.0 || num_masked_partner:77.16666412353516 || molecule_loss:0.4454498589038849 || partner_loss:0.4926281273365021 || train_loss:0.9371220469474792 || epoch:6 ||
attention exploding loss: 1.2322299480438232
attention exploding loss: 1.2542146444320679
step239: num_masked_molecule:20.0 || num_masked_partner:73.80000305175781 || molecule_loss:0.4455591142177582 || partner_loss:0.47419825196266174 || train_loss:0.916141927242279 || epoch:7 ||
attention exploding loss: 1.1979604959487915
step269: num_masked_molecule:20.0 || num_masked_partner:73.16666412353516 || molecule_loss:0.44493499398231506 || partner_loss:0.43337103724479675 || train_loss:0.878007173538208 || epoch:8 ||
attention exploding loss: 1.3675166368484497
attention exploding loss: 1.2965153455734253
attention exploding loss: 1.2538793087005615
step299: num_masked_molecule:20.0 || num_masked_partner:71.23332977294922 || molecule_loss:0.4447346031665802 || partner_loss:0.48004403710365295 || train_loss:0.9130808711051941 || epoch:9 ||
attention exploding loss: 1.2079129219055176
attention exploding loss: 1.2691179513931274
step329: num_masked_molecule:20.0 || num_masked_partner:78.0 || molecule_loss:0.4449235498905182 || partner_loss:0.4793548882007599 || train_loss:0.9209769368171692 || epoch:10 ||
step359: num_masked_molecule:20.0 || num_masked_partner:77.56666564941406 || molecule_loss:0.4443637728691101 || partner_loss:0.47174009680747986 || train_loss:0.9161038994789124 || epoch:11 ||
attention exploding loss: 1.2642686367034912
attention exploding loss: 1.352586030960083
step389: num_masked_molecule:20.0 || num_masked_partner:67.26667022705078 || molecule_loss:0.44350388646125793 || partner_loss:0.47762006521224976 || train_loss:0.9131613373756409 || epoch:12 ||
attention exploding loss: 1.3523049354553223
step419: num_masked_molecule:20.0 || num_masked_partner:71.0999984741211 || molecule_loss:0.44067034125328064 || partner_loss:0.46329614520072937 || train_loss:0.8985227346420288 || epoch:13 ||
step449: num_masked_molecule:20.0 || num_masked_partner:74.4000015258789 || molecule_loss:0.407124400138855 || partner_loss:0.457131952047348 || train_loss:0.8642562627792358 || epoch:14 ||
step479: num_masked_molecule:20.0 || num_masked_partner:80.53333282470703 || molecule_loss:0.20750507712364197 || partner_loss:0.4718850255012512 || train_loss:0.679390013217926 || epoch:15 ||
step509: num_masked_molecule:20.0 || num_masked_partner:75.4000015258789 || molecule_loss:0.1026996597647667 || partner_loss:0.4153210520744324 || train_loss:0.5180206298828125 || epoch:16 ||
step539: num_masked_molecule:20.0 || num_masked_partner:73.69999694824219 || molecule_loss:-0.022389860823750496 || partner_loss:0.44355469942092896 || train_loss:0.42116472125053406 || epoch:17 ||
step569: num_masked_molecule:20.0 || num_masked_partner:78.83333587646484 || molecule_loss:-0.0498078390955925 || partner_loss:0.398274302482605 || train_loss:0.3484664261341095 || epoch:18 ||
step599: num_masked_molecule:20.0 || num_masked_partner:75.06666564941406 || molecule_loss:-0.12830816209316254 || partner_loss:0.41670265793800354 || train_loss:0.2883945107460022 || epoch:19 ||
attention exploding loss: 1.5335066318511963
step629: num_masked_molecule:20.0 || num_masked_partner:69.69999694824219 || molecule_loss:-0.11224838346242905 || partner_loss:0.40808168053627014 || train_loss:0.2843494415283203 || epoch:20 ||
step659: num_masked_molecule:20.0 || num_masked_partner:73.80000305175781 || molecule_loss:-0.1470620036125183 || partner_loss:0.4352373480796814 || train_loss:0.28817543387413025 || epoch:21 ||
step689: num_masked_molecule:20.0 || num_masked_partner:71.43333435058594 || molecule_loss:-0.19249644875526428 || partner_loss:0.45959317684173584 || train_loss:0.2670966684818268 || epoch:22 ||
step719: num_masked_molecule:20.0 || num_masked_partner:72.86666870117188 || molecule_loss:-0.2204621136188507 || partner_loss:0.4568379819393158 || train_loss:0.23637588322162628 || epoch:23 ||
step749: num_masked_molecule:20.0 || num_masked_partner:67.69999694824219 || molecule_loss:-0.2545420229434967 || partner_loss:0.41629189252853394 || train_loss:0.16174986958503723 || epoch:24 ||
step779: num_masked_molecule:20.0 || num_masked_partner:81.53333282470703 || molecule_loss:-0.285216361284256 || partner_loss:0.4481862485408783 || train_loss:0.1629699021577835 || epoch:25 ||
step809: num_masked_molecule:20.0 || num_masked_partner:73.96666717529297 || molecule_loss:-0.29568690061569214 || partner_loss:0.4342924952507019 || train_loss:0.13860556483268738 || epoch:26 ||
attention exploding loss: 3.5956435203552246
attention exploding loss: 1.9371534585952759
attention exploding loss: 4.313471794128418
step839: num_masked_molecule:20.0 || num_masked_partner:71.5999984741211 || molecule_loss:-0.02395719662308693 || partner_loss:0.40822017192840576 || train_loss:0.17495319247245789 || epoch:27 ||
step869: num_masked_molecule:20.0 || num_masked_partner:73.86666870117188 || molecule_loss:-0.32041388750076294 || partner_loss:0.41485926508903503 || train_loss:0.09444542229175568 || epoch:28 ||
attention exploding loss: 2.843871593475342
attention exploding loss: 4.158339023590088
attention exploding loss: 2.0122408866882324
step899: num_masked_molecule:20.0 || num_masked_partner:74.53333282470703 || molecule_loss:-0.009105974808335304 || partner_loss:0.4183538556098938 || train_loss:0.2276652306318283 || epoch:29 ||
attention exploding loss: 2.480539321899414
attention exploding loss: 1.355637788772583
attention exploding loss: 5.934848785400391
attention exploding loss: 9.021047592163086
step929: num_masked_molecule:20.0 || num_masked_partner:69.4000015258789 || molecule_loss:0.2500801384449005 || partner_loss:0.4396372437477112 || train_loss:0.22184710204601288 || epoch:30 ||
attention exploding loss: 3.5691874027252197
attention exploding loss: 2.258530378341675
attention exploding loss: 1.6419471502304077
attention exploding loss: 1.2865632772445679
attention exploding loss: 62.560604095458984
attention exploding loss: 1.342400312423706
attention exploding loss: 5.199832916259766
attention exploding loss: 5.7763519287109375
attention exploding loss: 1.3829485177993774
attention exploding loss: 6.394827842712402
attention exploding loss: 4.292835235595703
step959: num_masked_molecule:20.0 || num_masked_partner:72.5 || molecule_loss:2.774116039276123 || partner_loss:0.37620848417282104 || train_loss:0.39608657360076904 || epoch:31 ||
attention exploding loss: 1.293587327003479
attention exploding loss: 5.388742923736572
attention exploding loss: 1.2897090911865234
attention exploding loss: 7.562848091125488
step989: num_masked_molecule:20.0 || num_masked_partner:70.46666717529297 || molecule_loss:0.1610478013753891 || partner_loss:0.3762606680393219 || train_loss:0.17801102995872498 || epoch:32 ||
attention exploding loss: 3.5319156646728516
attention exploding loss: 5.976761817932129
attention exploding loss: 12.985880851745605
attention exploding loss: 16.085351943969727
step1019: num_masked_molecule:20.0 || num_masked_partner:69.96666717529297 || molecule_loss:0.8811665177345276 || partner_loss:0.4031530022621155 || train_loss:0.15685462951660156 || epoch:33 ||
attention exploding loss: 10.77800464630127
attention exploding loss: 7.2042155265808105
attention exploding loss: 1.9476407766342163
step1049: num_masked_molecule:20.0 || num_masked_partner:71.5 || molecule_loss:0.24906042218208313 || partner_loss:0.43821588158607483 || train_loss:0.1418466717004776 || epoch:34 ||
attention exploding loss: 1.3036243915557861

LOCAL_RANK: 0 - CUDA_VISIBLE_DEVICES: [0]

step1079: num_masked_molecule:20.0 || num_masked_partner:74.4000015258789 || molecule_loss:-0.33426129817962646 || partner_loss:0.4511387050151825 || train_loss:0.11305632442235947 || epoch:35 ||

Predicting: |                                                                                                 â€¦

sample   id
sample0  0    9.050
sample1  0    8.966
sample2  0    8.838
sample0  1    8.859
sample1  1    8.796
sample2  1    8.705
sample0  2    9.009
sample1  2    9.124
sample2  2    9.114
sample0  3    8.990
sample1  3    8.886
sample2  3    8.862
sample0  4    9.099
sample1  4    9.071
sample2  4    9.100
sample0  5    9.039
sample1  5    9.128
sample2  5    9.022
sample0  6    8.964
sample1  6    9.155
sample2  6    9.163
sample0  7    9.077
sample1  7    9.044
sample2  7    9.022
sample0  8    9.041
sample1  8    9.066
sample2  8    9.093
sample0  9    9.101
sample1  9    8.897
sample2  9    8.985
dtype: float64

In [26]:
ds.values['protein'].df

            top3  maxlfq  top3_masked  top3_imputed  gnn_hetero_samples  \
sample  id
sample0 0  9.059   8.571          NaN         9.038               9.020
        1  8.859   8.005        8.859         8.859               8.859
        2  8.875   8.222          NaN         9.038               9.018
        3  9.098   8.543          NaN         9.038               9.019
        4  9.099   8.272        9.099         9.099               9.099
        5  9.060   8.328          NaN         9.092               9.019
        6  8.964   7.880        8.964         8.964               8.964
        7  9.077   8.442        9.077         9.077               9.077
        8  9.107   8.292          NaN         9.075               9.019
        9  9.101   8.261        9.101         9.101               9.101
sample1 0  8.846   7.742          NaN         9.009               8.996
        1  8.796   7.390        8.796         8.796               8.796
        2  9.125   8.700          NaN         9.009               8.995
        3  8.886   8.063        8.886         8.886               8.886
        4  8.786   8.057          NaN         9.100               8.995
        5  9.128   8.362        9.128         9.128               9.128
        6  9.155   7.821        9.155         9.155               9.155
        7  9.044   8.483        9.044         9.044               9.044
        8  9.066   8.277        9.066         9.066               9.066
        9  8.897   7.751        8.897         8.897               8.897
sample2 0  8.838   7.983        8.838         8.838               8.838
        1  8.705   7.873        8.705         8.705               8.705
        2  9.114   8.630        9.114         9.114               9.114
        3  9.009   8.491          NaN         9.004               9.007
        4  9.100   8.044        9.100         9.100               9.100
        5  9.022   8.467        9.022         9.022               9.022
        6  9.163   8.434        9.163         9.163               9.163
        7  9.022   8.569        9.022         9.022               9.022
        8  9.093   8.335        9.093         9.093               9.093
        9  8.899   7.804          NaN         8.983               9.007

            gnn_hetero
sample  id
sample0 0        9.050
        1        8.859
        2        9.009
        3        8.990
        4        9.099
        5        9.039
        6        8.964
        7        9.077
        8        9.041
        9        9.101
sample1 0        8.966
        1        8.796
        2        9.124
        3        8.886
        4        9.071
        5        9.128
        6        9.155
        7        9.044
        8        9.066
        9        8.897
sample2 0        8.838
        1        8.705
        2        9.114
        3        8.862
        4        9.100
        5        9.022
        6        9.163
        7        9.022
        8        9.093
        9        8.985